.login {
  width: 100%;
  height: 100%;
  background-image: url(images/bg.jpg);
  background-size: 100% 100%;
}
.login .login-header {
  height: 80px;
  background: rgba(21, 20, 13, 0.5);
  display: flex;
  align-items: center;
}
.login .login-header img {
  margin: 0px 15px 0px 50px;
  width: 40px;
  height: 40px;
}
.login .login-header h1 {
  font-size: 30px;
  color: white;
}
.login .login-section {
  padding: 15px 20px;
  margin: 50px auto;
  width: 400px;
  height: 300px;
  background: white;
}
.login .login-section h2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.login .login-section .login-form .login-form-button {
  width: 100%;
}
